---
import Layout from "../layouts/Layout.astro";
const apiUrl = import.meta.env.PUBLIC_API_URL;
---
<script>
  const apiUrl = import.meta.env.PUBLIC_API_URL;
  function sendForm(event) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);

    fetch(apiUrl, {
      method: "POST",
      body: formData,
    })
      .then((response) => response.json())
      .then((data) => console.log("Respuesta del servidor:", data))
      .catch((error) => console.error("Error en la solicitud:", error));
  }
  document.addEventListener("DOMContentLoaded", () => {
  document.getElementById("contact").addEventListener("submit", sendForm);
  });
</script>
<Layout title="Devstudio">
  <div class="h-screen bg-main1 flex items-center justify-center">
    <form
      id="contact"
      class="bg-white rounded-lg shadow-lg p-8 w-full max-w-lg"
    >
      <h2 class="text-2xl font-bold text-gray-800 mb-6 text-center">
        Contáctanos
      </h2>
      <div class="mb-4">
        <label for="name" class="block text-gray-700 font-medium mb-2"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          name="name"
          required
          placeholder="Tu nombre y apellido"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-medium mb-2"
          >Correo Electrónico</label
        >
        <input
          type="email"
          id="email"
          name="email"
          required
          placeholder="tu@correo.com"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        />
      </div>
      <div class="mb-4">
        <label for="message" class="block text-gray-700 font-medium mb-2"
          >Mensaje</label
        >
        <textarea
          id="message"
          name="message"
          rows="5"
          required
          placeholder="Escribe tu mensaje aquí"
          class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400"
        ></textarea>
      </div>
      <div class="flex justify-center">
        <button
          type="submit"
          class="bg-blue-500 text-white px-6 py-2 rounded-lg font-medium hover:bg-blue-600 transition-colors"
        >
          Enviar Mensaje
        </button>
      </div>
    </form>
  </div>
</Layout>
