---
const {
  title = await Astro.slots.render('title'),
  menu = [],
} = Astro.props;
---
<navbar class="navbar">
  <div class="navbar-left">
    <a href="/" class="logo">{ title }</a>
  </div>
  <div class="navbar-right flex justify-center items-center">
    <div class="menu">
      {menu.map (({name, href}) => (
        <a class="text-base font-normal text-astro-gray-200 group-aria-selected:bg-clip-text 
        group-aria-selected:text-transparent group-aria-selected:bg-blue-purple-gradient 
        transition duration-300" href=`${href}` class="link">{name}</a>
      ))}
    </div>
  </div>
</navbar>

<style>
  .menu {
    display: flex;
    gap: 1rem;
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    backdrop-filter: blur(3px); /* Nivel de desenfoque */
    background-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000; 
    position: fixed;
    top: 0;
  }
  .navbar-left {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
  }
  .navbar-right {
    margin-left: 5%;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

</style>